@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.display1 {
  font-size: 68px;
}

.display2 {
  font-size: 52px;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 30px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 22px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.p {
  font-size: 14px;
}

@media (min-width: 480px) {
  .display1-sm {
    font-size: 68px;
  }
  .display2-sm {
    font-size: 52px;
  }
  .h1-sm {
    font-size: 36px;
  }
  .h2-sm {
    font-size: 30px;
  }
  .h3-sm {
    font-size: 24px;
  }
  .h4-sm {
    font-size: 22px;
  }
  .h5-sm {
    font-size: 18px;
  }
  .h6-sm {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .display1-md {
    font-size: 68px;
  }
  .display2-md {
    font-size: 52px;
  }
  .h1-md {
    font-size: 36px;
  }
  .h2-md {
    font-size: 30px;
  }
  .h3-md {
    font-size: 24px;
  }
  .h4-md {
    font-size: 22px;
  }
  .h5-md {
    font-size: 18px;
  }
  .h6-md {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .display1-lg {
    font-size: 68px;
  }
  .display2-lg {
    font-size: 52px;
  }
  .h1-lg {
    font-size: 36px;
  }
  .h2-lg {
    font-size: 30px;
  }
  .h3-lg {
    font-size: 24px;
  }
  .h4-lg {
    font-size: 22px;
  }
  .h5-lg {
    font-size: 18px;
  }
  .h6-lg {
    font-size: 16px;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.heading-h1 {
  /* Heading 1/Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  color: #024938;
  /* identical to box height, or 105% */
}

.h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  /* identical to box height, or 112% */
  color: #000000;
}

p {
  font-size: 14px;
}

.b {
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body {
  background: #E7F2ED;
  margin: 32px 64px;
  text-align: center;
}

html, body {
  height: 100%;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
}

.flex-row {
  flex-direction: row;
  flex-flow: row wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  align-content: center;
}

.flex-item-center {
  align-items: center;
}

.flex-grow-1 {
  flex: 1 1 fit-content;
}

hr {
  height: 1px;
}

.m-x-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.button {
  border: 5px solid transparent;
  background: #AED6D1;
  color: #55706D;
  border-radius: 40px;
  padding: 8px 16px;
  overflow: hidden;
  width: 92px;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  white-space: nowrap;
  font-weight: bold;
}
.button span {
  display: inline-block;
  transform: translateX(300px);
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
}
.button:hover {
  text-indent: 0;
  background: #55706D;
  color: #FFE8A3;
  width: 222px;
  border: 10px solid #8DCCC4;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.button:hover span {
  transform: translateX(0);
  opacity: 1;
}

.word {
  transition: opacity 0.5s ease-in-out;
}

.header {
  background: red;
}/*# sourceMappingURL=main.css.map */